// .tables {
//     width: 90% ;
//     margin: 30px 5%;
//     border-spacing: 0px;
//     border: 2px solid #e5e5e5;
//     position: relative;
// }

.tables {
  width: 90% !important;
  margin: 30px 5% !important;
  border-spacing: 0px;
  border: 2px solid #e5e5e5;
  position: relative;
}
  
.header {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 48px;
  text-align: left;

  color: #000000;
  background: #e5e5e5;
}

.info {
  font-size: 14px !important;
  color: #000000 !important;
  font-weight: 400;
  font-family: "Roboto";
  margin-left: auto;

  color: #000000;
}

.alertheader {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 48px;
  text-align: left;

  color: #000000;
  background: #e50000;
}

.hcell {
  padding-left: 20px;
}

.name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  padding-left: 16px;
  font-weight: 400;
  font-family: "Roboto";
}

.actionItem {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ada5a5;
}

.row {
    border-top: 2px solid #e5e5e5;
    height: 48px !important;
    padding: 0;
    width: 90% !important;
    cursor:pointer !important;
}


.accordionsummary {
  // border-top: 2px solid #e5e5e5;
  // height: 48px !important;
  // text-align: left;
  padding: 0px !important;

}

.accordiondetails {
  // background-color: #e50000 !important;
  // border: 1px solid #a4a4a4 !important;
}