.sub {
  margin: 0 40px 40px !important;
}
.acc {
  background: #e5e5e5 !important;
  box-shadow: none !important;
  position: static !important;
  padding: 0 20px !important;
  border-radius: 0 !important;
}
.btw {
  color: #656565;
  font-size: 0.7em;
}

.save {
  margin: 10px !important;
}
.pms {
  width: 80%;
  padding-left: 10px;
}
.bottom {
  width: 80%;
}
.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.report{
  color: black;
  font-size: 110%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.peerreviewreport{
  color: black;
  font-size: 120%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.comments{
  font-family: monospace;
  font-size: 100%;
  padding: 5px;
  display: flex;
  background-color: lightgray;
  white-space: pre-wrap;
  align-items: left;
  flex-direction: column;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0px !important;
  }
}

.grader {
  color: red;
}


.tagradingcriteria{
  color: red;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.details{
  display: flex;
  font-size: 100;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.peerreviewscore{
  display: flex;
  font-size: 120%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.ungradedreport{
  color: red;
  font-size: 130%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.comparestatement{
  color: blue;
  font-size: 110%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.submissionData {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: 6fr 10fr;
  grid-template-rows: auto;
  grid-template-areas: "chartContainer commentsField";

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;

  border-radius: 0.25rem;
  box-shadow: 0px 0px 15px lightgray;

  .chartContainer {
    grid-area: chartContainer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 0 0; 
    height: 100%;
    padding: 1rem;

    width: 450px;

    .commentInstructions {
      text-align: center;
      padding: 0.25rem;
    }

    .scoresField {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .commentsField {
    grid-area: commentsField;

    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.25rem;
    margin: 0 0 0 1rem;
    box-shadow: 0px 0px 15px lightgray;
    scrollbar-width: none;

    .commentLabel {
      color: white;
      background-color: gray;
      max-height: 50px;
      min-width: 300px;
      max-width: 1000px;
      margin: auto;
      padding: 0.5rem;

      text-align: center;
    }

    $PEER_ACTIVE_COLOR: rgba(79, 38, 131, 1.0);
    $PEER_INACTIVE_COLOR: rgba(79, 38, 131, 0.4);
    $TA_ACTIVE_COLOR: rgba(255, 198, 47, 1.0);
    $TA_INACTIVE_COLOR: rgba(255, 198, 47, 0.4);

    .contentContainer {
      display: flex;
      flex-direction: column;
      font-family: monospace;

      .selectedComment > p {
        text-shadow: 0px 0px 5px lightgray;
        transform: scale(1.05);
        font-weight: 900;
        transition: transform 0.3s, font-weight 0.3s, text-shadow 0.3s;
        border: none;
        text-align: center;
      }

      .unselectedComment > p {
        text-shadow: 0px 0px 0px lightgray;
        transform: scale(1);
        font-weight: 400;
        transition: transform 0.3s, font-weight 0.3s, text-shadow 0.3s;
        border: none;
        text-align: center;
      }

      .selectedComment.peerComment{
        border-left: 20px solid $PEER_ACTIVE_COLOR;
        transition: border 0.3s;
      }

      .selectedComment.taComment{
        border-left: 20px solid $TA_ACTIVE_COLOR;
        transition: border 0.3s;
      }
  
      .unselectedComment.peerComment{
        border-left: 20px solid $PEER_INACTIVE_COLOR;
        transition: border 0.3s;
      }

      .unselectedComment.taComment{
        border-left: 20px solid $TA_INACTIVE_COLOR;
        transition: border 0.3s; 
      }

      .peerComment {
        border-bottom: 1px solid lightgray;
      }

      .taComment {
        border-top: 1px solid lightgray;
      }

    }
  }
}

@media only screen and (max-width: 1124px) {
  .submissionData {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .commentsField {
      margin: 0;
      width: 100%;

    }
  }
}

@media only screen and (max-width: 700px) {
  .chartContainer {
    max-width: 350px;
  }

}


