.sub {
  margin: 0 40px 40px !important;
}
.acc {
  background: #e5e5e5 !important;
  box-shadow: none !important;
  position: static !important;
  padding: 0 20px !important;
  border-radius: 0 !important;
}
.btw {
  color: #656565;
  font-size: 0.7em;
}

.save {
  margin: 10px !important;
}
.pms {
  width: 80%;
  padding-left: 10px;
}
.bottom {
  width: 80%;
}
.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.report{
  color: black;
  font-size: 110%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.peerreviewreport{
  color: black;
  font-size: 120%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.comments{
  font-family: monospace;
  font-size: 100%;
  padding: 5px;
  display: flex;
  background-color: lightgray;
  white-space: pre-wrap;
  align-items: left;
  flex-direction: column;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0px !important;
  }
}

.grader {
  color: red;
}


.tagradingcriteria{
  color: red;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.details{
  display: flex;
  font-size: 100;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.peerreviewscore{
  display: flex;
  font-size: 120%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.ungradedreport{
  color: red;
  font-size: 130%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.comparestatement{
  color: blue;
  font-size: 110%;
  // text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title{
      font-weight: bold;
      margin: 0 !important;
  }
}

.submissiondata {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: 6fr 10fr;
  grid-template-rows: auto;
  grid-template-areas: "barChart commentsField";

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;

  .barChart {
    grid-area: barChart;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem 0 0; 
    border: 2px dahsed blue;
  }

  .commentsField {
    grid-area: commentsField;
    max-height: 100%;
    overflow: scroll;
    border: 1px solid gray;
    border-radius: 0.25rem;
    margin: 0 0 0 1rem;
    box-shadow: 0px 2px 5px lightgray;


    .commentLabel {
      color: white;
      background-color: gray;
      max-height: 50px;
      min-width: 300px;
      max-width: 800px;
      margin: auto;
      padding: 0.5rem;

      grid-area: commentLabel;
      text-align: center;
      // transform: rotate(-90deg);
    }

    .contentContainer {
      display: flex;
      flex-direction: column;
      font-family: monospace;

      // grid-template-columns: 1fr 5fr;
      // grid-template-rows: auto auto;
      // grid-template-areas: 
      //   "commentLabel peerComment"
      //   "commentLabel taComment";

      .selectedComment {
        // border: 2px dotted red;
        transform: scale(1.05);
        font-weight: 900;
        font-size: x-large;
        text-shadow: 0px 0px 5px lightgray;

        transition: transform 0.3s, font-weight 0.3s, text-shadow 0.3s;          
      }
  
      .unselectedComment {
        transform: scale(1);
        font-weight: 400;
        font-size: x-large;
        text-shadow: 0px 0px 0px lightgray;
        transition: transform 0.3s, font-weight 0.3s, text-shadow 0.3s;
      }

      .peerComment {
        grid-area: peerComment;

        display: grid;
        text-align: center;
        border-left: 20px solid rgba(79, 38, 131, 0.2);
        border-bottom: 2px solid lightgray;
        
      }

      .taComment {
        grid-area: taComment;
        text-align: center;
        border-left: 20px solid rgba(255, 198, 47, 0.2);
        // border: 2px dotted red;
      }

    }

  }


}
  


// .barchart {
//   width: 50%;
//   border: 2px dashed red;
// }