.sub {
  margin: 0 40px 40px !important;
}

.acc {
  background: #e5e5e5 !important;
  box-shadow: none !important;
  position: static !important;
  padding: 0 20px !important;
  border-radius: 0 !important;
}

.err {
  position: absolute;
  color: red;
  font-size: 12px;
}

.copyavg {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: calc(70% - 100px);
}

.upvoteavg {
  display: inline-block;
  width: calc(100% - 100px);
}

.preset{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: fit-content;
  &__comment{
    background: lightgray;
    color: darkgray;
    border-radius: 5px;
    margin: 2.5px 5px;
    padding: 0 5px;
  }
}