@import '../../../global_styles/colors.scss';
@import "../../../global_styles/utilities.scss";

.column{
    width: 30%;
    border: 2px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &Container{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }

    &__header{
        height: 20px;
        background-color: $primary_color;
        color: white;
        padding: 5px 10px;
        margin-bottom: 15px;
    }

    &__content{
        padding: 0 15px;
    }
}

.dropdown{
    width: 200px !important;
    display: inline-block;
}

.formfield{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc {
    margin: 0 40px 40px !important;
}

.below {
    margin: 40px 0 0  !important;
}

.rightBelow {
    margin: 20px 0 0  !important;
}

.submitButton {
    margin: 15px !important;
}

.result{
    @extend .flex_center;
    padding: 0 20% 40px 20%;

    &__header{ 
        @extend .flex_center;
        text-align: right;
        padding-right: 20px;
        width: 200px;
        
    }
}

.left {
    margin-left: 25px;
    width: '25ch';
}