.pms{
    /* display: inline-block !important; */
    /* margin: 40px !important; */
    width: 80% !important;
    margin: 0 10% !important;
    align-items: center;
}

.child{
    display: inline-block !important;
}