@import "../../../global_styles/utilities.scss";
@import "../../../global_styles/colors.scss";


.formfield{
    display: inline-block;
    margin-right: 20px !important;
}

.matching {
    margin: 0 40px 40px !important;
}

.result{
    @extend .flex_center;
    padding: 0 20% 40px 20%;

    &__header{ 
        @extend .flex_center;
        text-align: right;
        padding-right: 20px;
        width: 200px;
        
    }
}

.matching{
    &Cell{
        @extend .flex_center;
        text-align: center;

        flex-direction: column;
        height: 150px;
        width: 150px;
        background-color: $primary_color;
        margin: 5px;

        &__title{
            font-size: 11px;;
            margin: 0 !important;
            margin-top: 5px !important;
        }

        &__value{
            font-size: 20px;
            font-weight: bold;
            margin: 0 !important;
        }
    }

    &Grid{
        
        display: flex;
        flex-wrap: wrap;
    }

}